:root {
	--primary-color: #a0b5ed;
	--secondary-color: #6a9fbc;
	--only-font-family: "Dongle", sans-serif;
}

body {
	padding: 10px 25px;
}

a {
	text-decoration: none;
	font-size: 32px;
}
a:hover {
	color: var(--secondary-color);
	transition: all 150ms ease-in-out;
}

img {
	border-radius: 25px;
	max-width: 72%;
	max-height: 72%;
	border: 10px solid #e4ffe7;
}

nav {
	padding: 20px 0;
}
nav ul {
	padding: 0;
	margin: 0;
}
nav li {
	display: inline;
	list-style: none;
	line-height: 42px;
	font-family: var(--only-font-family);
	margin-left: 15px;
}

nav li.active {
	color: var(--secondary-color);
}

h4 {
	font-family: var(--only-font-family);
	font-size: 65px !important;
	color: var(--primary-color) !important;
	margin: 0;
}

footer p {
	font-family: var(--only-font-family);
	font-size: 28px;
	margin-bottom: 18px;
	line-height: 0px;
}

footer .contact-box {
	background-color: #fff2fc;
	border-radius: 10px;
	margin: 10px 200px;
	padding: 20px;
}

.contact-box div {
	margin: 0 100px;
}

footer .btn {
	background-color: var(--primary-color);
	border: none;
	line-height: 40px;
	font-family: var(--only-font-family);
	font-size: 30px;
	line-height: 50px;
}

footer .btn:hover {
	background-color: var(--secondary-color);
	transition: all 150ms;
}

footer .email-link {
	color: var(--primary-color);
	text-align: center;
	display: block;
	margin-bottom: 20px;
	font-size: 22px;
	font-family: var(--only-font-family);
}

footer a {
	font-size: 45px !important;
}

footer .email-link:hover {
	color: var(--secondary-color);
}

footer .social-links a {
	margin: 0 20px;
	padding: 10px 25px;
	color: var(--primary-color);
	font-size: 20px;
	background-color: #fdf5ff;
	border-radius: 50%;
	transition: transform 0.2s;
}

footer .social-links a:hover {
	color: #dabeff;
	transform: scale(1.15);
}

@media (max-width: 600px) {
	h1 {
		font-size: 50px !important;
	}
	h2 {
		font-size: 20px !important;
		padding: 15px;
	}
	.container-fluid {
		padding: 30px !important;
	}
	div .col-md-3 {
		padding: 8px;
	}
	.content-container {
		text-align: center;
		padding: 0 !important;
	}
	.cloud {
		display: block;
	}
	div .weather-app {
		font-size: 30px !important;
		padding: 0 !important;
		margin-top: 0 !important;
	}
	div .portfolio-heading {
		font-size: 45px !important;
		margin-bottom: 20px !important;
	}
	nav li {
		font-size: 25px;
		margin: 5px !important;
	}

	footer a {
		font-size: 32px !important;
	}
	footer .social-links a {
		padding: 10px 20px;
	}

	footer .source-text {
		display: none;
	}
}
@media (max-width: 1024px) {
	footer .contact-box {
		display: none !important;
	}
}

.logo {
	font-size: 35px;
	color: var(--primary-color);
}

.hero {
	background: #fff2fc;
	text-align: center;
	font-family: var(--only-font-family);
	border-radius: 10px;
}

.hero h1 {
	color: var(--secondary-color);
	font-size: 105px;
	margin-top: -50px;
}

.hero h2 {
	color: var(--primary-color);
	font-weight: lighter;
	font-size: 64px;
	margin-top: -40px;
}

.hero p {
	color: var(--primary-color);
}

.container-fluid {
	padding: 50px;
}
.text-decoration-none {
	color: var(--primary-color);
}

.category-pink {
	border: 1px solid #fff0f0;
	border-radius: 10px;
	background-color: #fff0f0;
	padding: 25px 50px;
	font-family: var(--only-font-family);
	transition: transform 0.2s;
}
.category-yellow {
	border: 1px solid #fff8d4;
	border-radius: 10px;
	background-color: #fff8d4;
	padding: 25px 50px;
	font-family: var(--only-font-family);
	transition: transform 0.2s;
}
.category-green {
	border: 1px solid #e4ffe7;
	border-radius: 10px;
	background-color: #e4ffe7;
	padding: 25px 50px;
	font-family: var(--only-font-family);
	transition: transform 0.2s;
}
.category-blue {
	border: 1px solid #e5f9ff;
	border-radius: 10px;
	background-color: #e5f9ff;
	padding: 25px 50px;
	font-family: var(--only-font-family);
	transition: transform 0.2s;
}

.category-pink:hover {
	transform: scale(1.2);
}

.category-yellow:hover {
	transform: scale(1.2);
}
.category-green:hover {
	transform: scale(1.2);
}
.category-blue:hover {
	transform: scale(1.2);
}

.content-container {
	font-family: var(--only-font-family);
	padding: 60px 20px;
}
.content h1 {
	font-size: 30px;
	line-height: 35px;
	color: var(--primary-color);
}

.my-name {
	font-size: 80px;
	color: var(--secondary-color);
}
.content h2 {
	font-size: 38px;
	color: var(--primary-color);
}

.content h3 {
	font-size: 50px !important;
	color: var(--secondary-color) !important;
	line-height: 1.5;
	margin-bottom: -15px;
}

.content-container p {
	font-size: 28px;
	line-height: 25px;
}
.about-portfolio {
	font-size: 40px;
	border: 10px solid #fffbe8;
	border-radius: 10px;
	background-color: #fff8d4;
}
.content {
	margin: 30px;
	text-align: center;
}

.portfolio-heading {
	font-size: 75px !important;
}
.access-app {
	border: 10px solid #e5f9ff;
	transition: transform 0.2s;
	max-height: 100%;
}
.access-app:hover {
	transform: scale(1.05);
}

.weather-app {
	font-size: 40px;
	border: 1px solid #e5f9ff;
	border-radius: 10px;
	background-color: #e5f9ff;
	padding: 20px 45px;
}
.further-description {
	font-size: 20px;
	line-height: 18px;
}
footer .source-text {
	font-size: 25px;
	color: var(--secondary-color) !important;
	opacity: 50%;
}

p .open-sourced {
	font-size: 25px !important;
	color: var(--secondary-color) !important;
}

.footer-none-index {
	margin-top: -50px !important;
}
