:root {
	--primary-color: #a0b5ed;
	--only-font-family: "Dongle", sans-serif;
}

h1 {
	color: #6a9fbc;
	font-size: 105px;
	margin-bottom: 45px;
}
h2 {
	color: var(--primary-color);
	font-weight: lighter;
	font-size: 64px;
	margin-top: -90px;
}
.hero {
	background: #fff2fc;
	text-align: center;
	font-family: var(--only-font-family);
	padding: 10px;
}
